@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url(/web/20160315000725cs_/http://indotrade.co.in/css/font-awesome.css);

body{ padding:0; margin:0; font-family:'Open Sans', sans-serif;}
h1{ font-family:'Raleway', sans-serif; font-weight:600;}
h2{ font-family:'Raleway', sans-serif; font-weight:600;}
h3{ font-family:'Open Sans', sans-serif; font-weight:300;}
h4{ font-family:'Open Sans', sans-serif; font-weight:300;}
h5{ font-family:'Open Sans', sans-serif; font-weight:300;}
h6{ font-family:'Open Sans', sans-serif; font-weight:300;}
*{text-decoration:none; list-style:none; padding:0; margin:0; border:none;}
*:after, *:before{text-decoration:none; list-style:none; padding:0; margin:0; border:none; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}

input,textarea{font-family:'Open Sans', sans-serif; font-size:12px;}
input[type=submit], input[type=reset], button{cursor:pointer; text-transform:uppercase;}
table{border-collapse:collapse;}


.main{float:left; width:100%; overflow:hidden;}
.top{float:left; width:100%; background:#ED1C24; color:#fff; font-size:12px; text-transform:uppercase; text-align:center; position:fixed !important; z-index:1000000000; font-weight:bold; line-height:30px;}

.top-box{ float:left; padding:3px 10px; }
.top-box:last-child{ float:right;}

.inner{margin:0 auto; width:1100px;}

.header{position:fixed; top:0px; left:0px; width:100%; height:100px; background:#fff; 
z-index:60;  transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; -ms-transition:all ease-in-out .5s; -o-transition:all ease-in-out .5s; -webkit-transition:all ease-in-out .5s; box-shadow:3px 3px 3px #ddd; margin-top:30px;}
.fix_header { height:50px;}
.fix_nav li{padding:0px 19px !important; line-height:50px !important}

.logo{float:left; width:180px; transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; -ms-transition:all ease-in-out .5s; -o-transition:all ease-in-out .5s; -webkit-transition:all ease-in-out .5s;}
.logo img{width:100% !important;}

.logo_img1{ width:90px !important;}

.nav{float:right; width:61%;  transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; -ms-transition:all ease-in-out .5s; -o-transition:all ease-in-out .5s; -webkit-transition:all ease-in-out .5s;}
.nav ul{ float:left; width:100%;}
.nav ul li{ float:left; line-height:100px; padding:0px 19px; position:relative; text-align:center; transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; -ms-transition:all ease-in-out .5s; -o-transition:all ease-in-out .5s; -webkit-transition:all ease-in-out .5s;}
.nav li a{ font-size:14px; display:inline-block; color:#000; text-transform:uppercase; font-weight:bold; transition:all ease-in-out .5s;}
.nav ul li:hover a{ color:#ED1C24;}

.nav li { color:#000;}

.slider{ float:left; width:100%; position:relative; margin-top:100px;}

.free_home{ float:left; width:300px; padding:15px 10px; background:rgba(0,0,0,.7); position:absolute; right:0; top:0; border-left:5px solid #8FB63E; color:#fff !important;}
.free_home h3{color:#eee; font-size:18px; text-align:center; text-transform:uppercase; padding-bottom:15px; font-weight:600;}
.home_text{ float:left; width:278px; padding:10px; margin-bottom:15px; background:rgba(0,0,0,.5); color:#fff; border:1px solid #999; border-radius:3px;}
.home_text1{ float:left; width:123px; padding:10px; margin-bottom:15px; background:rgba(0,0,0,.5); color:#fff;  border:1px solid #999; border-radius:3px;}
.home_text2{ float:right; width:123px; padding:10px; margin-bottom:15px; background:rgba(0,0,0,.5); color:#fff;  border:1px solid #999; border-radius:3px;}
.checkbox_upper{ float:left; width:100%; color:#fff !important;}

.checkbox_upper li{ float:left; width:133px; margin-bottom:8px;}
.checkbox_upper li:nth-child(even){ float:right;}
.checkbox_upper li:last-child{ width:270px;}

.checkbox_upper label{ float:left; font-size:12px; color:#fff !important; line-height:22px; margin-left:5px;}
.checkbox_upper .checkbox{ float:left; margin:5px 0; color:#fff !important;}
.checkbox_upper label a{ color:#fff !important;}

.home_submit{ float:right; width:130px; padding:5px 0; margin-top:12px; border:1px solid #999; background:#235BAE; color:#fff;}
.home_submit:last-child{ float:left;}
.home_submit:hover{background:#8FB63E; color:#000;}

.market{float:left; padding:0px 0; background:#222845; width:100%;}
.market h3{color:#fff; padding:10px 40px 10px 20px; float:left;}
.market iframe{float:left; margin-top:5px;}

.wel{float:left; width:100%; padding:40px 0;}
.wel h1{text-align:center; color:#555; margin-bottom:10px; font-weight:600; text-transform:uppercase; font-size:24px; background:url(../images/line-photography-30.png) no-repeat center;}
.wel p{text-align:center; font-size:14px; line-height:24px; color:#555;}


.home_serv{float:left; width:100%; padding:40px 0; background:url(../images/client.jpg) no-repeat fixed; background-size:100%;}
.home_serv li{ float:left; width:100%;}
.home_serv li:last-child{ margin-top:40px;}
.home_serv li h2{ text-align:center; color:#eee; margin-bottom:10px; font-weight:bold; text-transform:uppercase; font-size:24px; background:url(../images/line-photography-1.png) no-repeat center;}
.home_serv li p{ text-align:center; color:#fff; font-size:14px; line-height:24px;}
.home_serv a{ float:left; width:340px; margin:10px 0 10px 40px;}
.home_serv a:nth-child(3n+1){ margin-left:0;}
.home_serv a:hover .serv_left{ background:#fff;}
.home_serv a:hover p{ color:#ED1C24;}
.home_serv a:hover h3{ color:#eee;}
.home_serv a:hover i{transform:rotateY(360deg); color:#656565;}

.serv_left{ float:left; width:100px; height:100px; background:#ED1C24; text-align:center; color:#fff; font-size:18px;}
.serv_left i{line-height:100px; transition-duration:0.8s; transition-property:transform;}
.serv_right{ float:right; width:220px; padding-bottom:20px;}
.serv_right h3{ color:#ED1C24; font-weight:400; float:left; width:100%; margin-bottom:10px;}
.serv_right p{ font-size:13px !important; color:#555; text-align:justify !important; float:left; width:100%; line-height:18px !important;}

.testi{ float:left; width:100%; padding:40px 0 80px 0; background:url(../images/teams-trust-lucid.png) no-repeat center #222845;}
.testi h2{margin-bottom:20px; text-align:center; color:#fff; font-size:24px; font-weight:600; text-transform:uppercase; background:url(../images/line-photography-2.png) no-repeat center;}
.testi h2 span{ border-bottom:1px solid #fff; padding-bottom:5px;}
.testi_item{ float:left; position:relative; padding:20px; background:#fff; text-align:justify; line-height:24px; font-size:14px; color:#555; margin-top:20px; width:90%;}
.testi_item span{ color:#EC561B; padding-left:10px; font-weight:bold;}

.report{ float:left; width:100%; padding:40px 0;}
.report h2{text-align:center; color:#555; margin-bottom:30px; font-weight:600; text-transform:uppercase; font-size:24px; background:url(../images/line-photography.png) no-repeat center;}
.report li{ float:left; width:49%;}
.report li:last-child{ float:right;}
.report li a{ float:left; width:260px; padding:10px 0; background:#F98A00; color:#fff; text-align:center; font-size:14px; margin-bottom:15px;}
.report li a:nth-child(even){ float:right; background:#656565;}
.report li a:last-child{ width:100%; margin-bottom:0; background:#656565;}
.report li a:hover{ background:#444;}

.report li img{ float:left; width:100%;}


.marq{ float:left; width:100%; background:#ED1C24; color:#fff; font-size:14px; line-height:20px; padding:10px 0;}

	 		/*************************footer start***************************/

.footer{ float:left; width:100%; padding:20px 0; background:url(../images/bgmap.png) #333; background-size:100%;}
.foot_left{ float:left; width:22%; background:#fff; margin-top:30px;}
.foot_left img { float:left; width:100%;}
.copy{ float:left; width:100%; text-align:center; background:#272727; color:#eee; font-size:13px; line-height:30px;}
.copy a{color:#eee;}
.copy a:hover{ text-decoration:underline;}

.f_box{ float:left; width:22%; padding-bottom:20px; margin-left:35px;}
.f_box:first-child{ margin:0;}
.f_box h3{ color:#ED1C24; padding:5px 0; margin-bottom:10px; font-weight:400;}
.f_box ul li{ float:left; width:100%; color:#ccc; font-size:13px; line-height:24px;}
.f_box ul li a{ float:left; color:#ccc; font-size:12px;}
.f_box ul li a:hover{ color:#ED1C24;}

.f_box img{ width:100px;}

.f_cont{ width:176px; margin:0 auto;}
.f_cont h4{ color:#EC2A21; font-weight:bold; text-align:center;}
.f_cont a{ float:left; color:#fff; font-size:16px; width:20px; height:20px; margin:5px; border:2px solid #4B68A7; text-align:center; background:#4B68A7; transform:rotate(45deg); -o-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -webkit-transform:rotate(45deg); margin:15px 10px; text-align:center;}
.f_cont a i{line-height:20px; transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}
.f_cont a:nth-child(3){background:#45B0E3; border:2px solid #45B0E3;}
.f_cont a:nth-child(4){background:#D61119; border:2px solid #D61119;}
.f_cont a:nth-child(5){background:#255B78; border:2px solid #255B78;}
.f_cont a:hover{ color:#2261B0; background:#fff;}

.backtoup{background:#ED1C24; bottom:20px; cursor:pointer; display:none; position:fixed; right:20px; width:40px; padding:5px 0; z-index:2; text-align:center; color:#fff; font-size:36px; border-radius:5px;}
.nav-open{ display:none;}	



					/*************************about start***************************/
 
.hadding{ float:left; width:100%; height:100px; margin-top:145px;}
.top-h2{ font-size:80px; text-align:center; margin:0px; padding:0px; color:#FFA1A9;}
.top-p{color:#222222; font-family:"Lato",sans-serif; font-size:20px; font-weight:800;letter-spacing:4px; text-align:center; margin:-53px 0 0 0;} 
.wrapper{ float:left; width:100%; padding:20px 0; background:#fff;}

.about{ float:left; width:100%;}
.about p ,.about_tab p{ text-align:justify; color:#555; font-size:14px; line-height:24px;}
.about p span ,.about_tab p span{ color:#ed1c24; font-weight: bold;}
.about img{ float:right; width:400px; border:5px solid #eee; margin-left:20px;}

.about_box{ float:left; width:100%; padding:10px 0 20px 0;}
.about_box p  { color:#fff; font-size:14px; text-align:justify;}
.about_box h4{border-bottom:1px dashed #fff; color:#fff; font-weight:500; margin-bottom:10px;    padding:10px 0;}
.about_box li{background:#FD9200; border:1px solid #ddd; box-shadow:0 3px 5px 2px #eee; float:left; height:140px; margin:29px 0 0 29px; padding:5px 10px; width:325px;}
.about_box li:nth-child(3n+1){ margin-left:0;}


.about_tab{ float:left; width:100%; margin:10px 0px;}


.p{ float:left; width:100%; padding:20px 0; font-size:14px; color:#555; text-align:center;}
.ser_li{ float:left; width:100%; padding:10px 0; background:#8FB63E; color:#fff; text-transform:uppercase; font-weight:bold;}


#f1_container{float:left; position:relative; width:346px; z-index:2;}
#f1_container{perspective:1000;}
#f1_card{width:346px; height:250px; transform-style:preserve-3d; transition:all .5s linear;}
#f1_container:hover #f1_card{transform:rotateY(180deg);}
.face{position:absolute; width:346px; height:250px; backface-visibility:hidden;}
.face.front{ float:left; width:346px; height:250px; color:white; text-align:center; background:#aaa; box-shadow:0 5px 5px 0px #eee;}
.face.back { float:left; width:346px; height:250px; display:block; transform:rotateY(180deg);}
.pay_border{ float:left; width:170px; height:85px; border-right:1px solid #ccc; margin-right:212px;}
.pay_border_long{ float:left; width:767px; height:1px; background:#ccc; margin-left:170px;}
.pay_border1{ float:left; width:553px; height:85px; border-right:1px solid #ccc;}
.online{ float:left; width:235px; height:43px; background:url(../images/112.png); margin-left:440px;}

.ser_left{ float:left; width:200px;}
.ser_left h2{ padding:0px 0 10px 0; margin-bottom:10px; border-bottom:5px solid #ddd; color:#555; font-weight:600;}
.ser_left a{ float:left; width:100%; padding:8px 0; color:#555; border-bottom:1px solid #ddd; font-size:14px; -webkit-transition:ease-in-out .4s; -moz-transition:ease-in-out .4s; transition:ease-in-out .4s;}
.ser_left a i{ margin-right:5px;}
.ser_left a:hover{ text-indent:5px; color:#005CB8;}
.ser_activ{text-indent:5px !important; color:#005CB8 !important;}

.ser_middle{ float:left; width:600px; margin-left:50px;}
.ser_middle p{text-align:justify; font-size:14px; color:#555; line-height:25px;}
.ser_middle h2{ padding:0px 0 10px 0; text-align:center; margin-bottom:10px; color:#555; font-weight:600;}

.ser_right{ float:right; width:200px;}
.ser_ul{float:left; width:100%; background:#f9f9f9; border:1px solid #ddd; margin:10px 0; border-radius:5px; font-family: 'Droid Serif', serif; box-shadow:0 5px 5px 1px #ccc;}
.ser_ul li{float:left; width:100%; text-align:center; padding:5px 0; margin:5px 0; color:#555; font-weight:600;}
.ser_ul li:first-child{font-size:20px;}
.ser_ul li:nth-child(2){ font-size:14px;}
.ser_ul li:last-child{ background:#005CB8; border-radius:0 0 5px 5px; margin:0;}
.ser_ul li a{ color:#fff; font-size:14px; font-weight:normal; font-family: 'Open Sans', sans-serif;}
.ser_ul li a:hover{ text-decoration:underline;}


.counting{ float:left; width:100%; padding:40px 0; background:#222845;}
.counting h2{text-align:center; color:#fff; text-transform:uppercase; font-size:30px; padding:0 0 20px 0; font-weight:400;}
.coun_box{ float:left; width:25%; color:#fff; text-align:center; font-size:20px;}
.coun_box_img{ width:150px; height:150px; margin:0 auto;}
.coun_box_img img{ float:left; width:150px; height:150px; border-radius:50%;}
.coun_box span{float:left; width:150px; height:150px; border:2px solid #fff; border-radius:50%; font-size:30px; line-height:150px; margin:0 auto;}
.coun_box span:first-child{margin-left:32px;}
.coun_box span:last-child{width:100%; border:none; font-size:16px; line-height:20px; padding:10px 0; height:auto;}
.coun_box span:last-child i{ width:25px; height:25px; background:#fff; color:#000; line-height:25px; margin-right:10px;}



.report1{ float:left; width:100%; padding:40px 0; background:url(../images/paralax-4-1.jpg) no-repeat fixed; background-size:cover;}
.report1 h2{text-align:center; color:#555; margin-bottom:30px; font-weight:600; text-transform:uppercase; font-size:24px; background:url(../images/line-photography.png) no-repeat center;}
.report1 li{ float:left; width:49%;}
.report1 li:last-child{ float:right;}
.report1 li a{ float:left; width:260px; padding:10px 0; background:#ED1C24; color:#fff; text-align:center; font-size:14px; margin-bottom:20px;}
.report1 li a:nth-child(odd){ float:right; background:#656565;}
.report1 li a:first-child{ width:100%; margin-bottom:0; background:#ED1C24; margin-bottom:20px;}
.report1 li a:last-child{ width:100%; margin-bottom:0; background:#656565; margin-bottom:20px;}
.report1 li a:hover{ background:#444;}

.report1 li img{ float:left; width:100%;}

.report{ float:left; width:258px; border:1px solid #ddd; border-radius:5px; border-top:5px solid #8FB63E; padding:0px 0 0 0; margin:0 0 20px 20px;}
.report:nth-child(4n+1){ margin-left:0;}
.report h3{ text-align:center; text-transform:uppercase; color:#fff; font-weight:bold; background:#8FB63E; font-size:14px; padding-bottom:5px;}
.report_table{ float:left; width:100%; margin-top:10px; font-size:14px; color:#555;}
.report_table tr td{ padding:10px; border:1px solid #ddd; border-bottom:none;}
.report_table tr td a{ color:#555;}
.report_table tr td a i{color:#1F5FAC; margin-left:5px;}
.report_table tr td:first-child{border-left:none;}
.report_table tr td:last-child{border-right:none;}



.report a:hover{text-decoration:underline;}


.free_head{ float:left; width:100%; padding-bottom:20px;}
.free_head h2{ color:#555;}
.free_head p{ text-align:justify; font-size:14px; color:#555; line-height:25px;}

.free_trial_left{ float:left; width:500px;}
.free_text{ float:left; padding:10px; width:223px; border:1px solid #8FB63E; margin-top:10px;}
.free_text:nth-child(even){ margin-left:10px;}
.free_text1{ float:left; padding:10px; width:478px; border:1px solid #8FB63E; margin-top:10px; font-size:14px; height:100px;}
.free_submit{ float:right; width:245px; padding:10px; margin-top:20px; background:#8FB63E; color:#fff; border:1px solid #8FB63E; -webkit-transition:ease-in-out .5s; -moz-transition:ease-in-out .5s; transition:ease-in-out .5s;}
.free_submit:last-child{ float:left; }
.free_submit:hover{ color:#8FB63E; background:#fff;}

.free_trial_right{ float:right; width:500px;}
.free_trial_right .checkbox{ float:left; margin:20px 0;}
.free_trial_right label{ float:left; font-size:14px; color:#555; width:212px; line-height:50px; margin-left:20px; height:53px;}

.career_left{ float:left; width:600px;}
.career_left p{text-align:justify; font-size:14px; color:#555; line-height:25px;}
.career_left li{float:left; width:100%; padding:4px 0; font-size:14px; color:#555; list-style:inside; text-indent:10px;}
.career_left h4{ float:left; width:100%; padding:10px 0; font-size:16px; font-weight:400; color:#555; text-transform:uppercase;}

.career_right{ float:right; width:440px; background:#f1f1f1; padding:10px; margin-top:20px;}
.career_text{ float:left; width:200px; padding:10px 5px; margin-top:10px; font-size:13px;}
.career_text:nth-child(even){ margin-left:20px;}
.career_submit{ float:right; width:210px; height:40px; font-size:14px; margin-top:10px; background:#222845; cursor:pointer; color:#fff; text-transform:uppercase; border:1px solid #222845; -webkit-transition:ease-in-out .3s; -moz-transition:ease-in-out .3s; transition:ease-in-out .3s;}
.career_submit:last-child{ margin-right:20px;}
.career_submit:hover{ background:#fff; color:#2C79D5;}
.career_right li{ float:left; width:100%; font-size:13px; color:#555; line-height:60px;} 
.caree_file{ float:right; padding:10px 5px; width:200px; background:#fff; margin-top:10px; font-size:13px;}


.risk{ float:left; width:100%; font-size:12px; color:#555; padding:20px 0;}
.risk p{ font-size:14px;}
.radio_box{float:left; margin:0 10px 10px 0; width:540px;}
.radio{float:left; height:10px; margin:5px 5px 0 0; width:10px;}
.radio_cover{float:left; line-height:25px; width:50%;}
.line{background:#ddd; float:left; height:1px; width:100%; margin:10px 0;}
.input{ float:left; border:1px solid #2C79D5; padding:5px; font-size:14px;}
.button{ float:left; padding:4px 10px; background:#2C79D5; color:#fff; border:1px solid #2C79D5;}
.button:hover{ background:#fff; color:#2C79D5;}

.home_free{ float:right; margin-top:20px; width:270px; padding:10px; background:#232323;} 
.home_free h3{ color:#fff; text-align:center; padding:10px 0; text-transform:uppercase; font-weight:600; background:#2C79D5; margin-bottom:20px;}
.free_page{ float:left; padding:5px; width:118px; margin-bottom:15px; border:1px solid #2C79D5;}
.free_page:nth-child(even){ float:right;}
.checkbox_upper{ float:left; width:270px;}
.checkbox_upper li{ float:left; width:133px; margin-bottom:8px;}
.checkbox_upper li:nth-child(even){ float:right;}
.checkbox_upper li:last-child{ width:270px;}
.checkbox_upper label{ float:left; font-size:12px;  line-height:22px; margin-left:5px;}
.checkbox_upper .checkbox{ float:left; margin:5px 0;}
.checkbox_upper label a{ color:#fff;}
.home_submit{ float:right; width:130px; padding:5px 0; margin-top:10px; border:1px solid #fff; background:#8FB63E; color:#fff;}
.home_submit:last-child{ float:left;}
.home_submit:hover{border:1px solid #8FB63E; background:#fff; color:#8FB63E;}

.service_bottom{ float:left; width:780px; margin-top:20px;}
.service_bottom p{ text-align:justify; color:#555; font-size:14px; line-height:24px;}


.enquiry{ float:left; width:500px;}
.enquiry h3{padding-bottom:10px; color:#ED1C24; font-weight:600; text-transform:uppercase;}
.enquiry li{ float:left; width:240px;}
.con_text{ float:left; width:200px; padding:10px; border:1px solid #ddd; border-radius:3px;  box-shadow:0 5px 5px 0px #eee; margin-bottom:15px;}
.con_text1{ float:right; width:230px; padding:10px; border:1px solid #ddd; border-radius:3px;  box-shadow:0 5px 5px 0px #eee; height:78px;}
.con_submit{ float:right; width:250px; background:#222845; color:#fff; padding:8px 0; margin-top:15px; border:1px solid #222845; box-shadow:0 5px 5px 0px #eee;}
.con_submit:hover{ background:#fff; color:#2C79D5;}
.con_text:focus, .con_text1:focus{outline:none !important; border:1px solid #8FB63E; box-shadow:0 0 5px #8FB63E;}

.add{float:right; width:30%;}
.add h3{padding-bottom:10px; color:#ED1C24; font-weight:600; text-transform:uppercase;}
.add li{float:left; width:100%; padding:5px 0; color:#555; font-size:14px;}

.map{ float:left; width:1098px; border:1px solid #ED1C24; height:300px; margin-top:20px; box-shadow:2px 5px 5px #999; padding:5px;}


.service{ float:left; width:100%; padding:40px 0;}
.service h2{ text-align:center; padding-bottom:20px; color:#555; font-size:28px;}
.service p{ text-align:center; font-size:14px; line-height:25px; color:#333;}
.service li{ float:left; width:29%; padding:20px 20px;}
.service li h3{ text-transform:uppercase; color:#1F5FAC; padding-bottom:10px; font-weight:600;}
.service li h3 i{ color:#55B847; padding-right:10px; font-size:25px;}
.service li p{ text-align:left;}
.service li span{ float:left; width:100%; padding:10px 0;}
.service li span a{ float:right; color:#55B847; font-size:14px;}
.service li span a:hover{ text-decoration:underline;}



.pay_a{ float:left; width:100%; text-align:center; margin:10px 0;}
.payment{float:left; width:45%; box-shadow:0 5px 5px 0px #eee; background:#fff; margin:20px;}
.payment:nth-child(even){float:right}
.payment thead tr td{padding:10px 0; background:#ed1c24; text-align:center; color:#fff; font-size:16px; border-radius:5px 5px 0 0; text-transform:uppercase; font-weight:bold;}
.payment tbody tr{border:1px solid #ddd;}
.payment tbody tr td{padding:10px 15px; text-align:center; color:#555; font-size:14px; text-align:right;}
.payment tbody tr td:last-child{text-align:left; border-left:1px solid #ddd;}

.price-headding{ float:left; width:100%; text-align:center; color:#fff; background:#8FB63E; font-size:24px; padding:5px 0px; text-shadow:1px 2px #000; }


.pri_nav-2{ width:500px; margin:0 auto; }

.opn-pop{ position:fixed; width:100%; height:100%; overflow:hidden; background:rgba(0,0,0, .5); left:0; top:0; z-index:100;}
.opnin{ margin:0 auto; width:35%; position:relative; top:150px;}
.opn{ float:left; position:relative; height:280px; width:100%; background:#fff url(../images/report-writing.jpg) no-repeat; background-size:100%; padding:10px; border:solid 5px #ED1C24; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}
.opnin h1{ text-align: center; font-size:22px; font-family:Arial, Helvetica, sans-serif; background:#ED1C24; color:#fff; padding:5px; font-weight:400;}
.opnin .pop-close{ position:absolute; top:5px; right:5px; background:#000; padding:5px 10px; color:#fff; cursor:pointer; opacity:.8; z-index:1000;}
.pop-form{ float:left; margin-top:200px; width:100%;}
.pop-form input{ width:24%; padding:8px 5px; margin:3px 0; border:1px solid #000; background:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; color:#000; font-weight:bold;}
.pop-form input[type=submit]{ background:#ED1C24; border:none; text-transform:uppercase; color:#fff; font-weight:bold;}

.pm-button{ width:100%; margin:10px 0px 10px 0px;}
.payumoney{ width:325px; margin:0 auto;}
.payumoney img{ margin:0 0 0 20px;}



.pri_nav{ float:left; width:100%;}
.pri_nav ul{ float:left width:100%;}
.pri_nav ul li a{ float:left; width:33%; background:#ED1C24; color:#fff; font-size:14px; text-align:center; margin-left:2px; line-height:50px; font-weight:bold;}

.pri_nav ul li a:hover{ background:#656565; color:#fff;}
.active A{color:#fff !important; background:#656565 !important;}

.services_box{ float:left; width:31%; border:1px solid #ddd; background:#FFFFFF; border-top:5px solid #ed1c24; margin:15px 0px 15px 2px; padding:10px; height:130px; border-radius:5px 5px 0px 0px;}
.services_box:hover { border-top:5px solid #656565;}
.services_box h1{ font-size:16px; color:#ed1c24;}
.services_box p{ font-size:14px; color:#727272; line-height:22px;}

.product_nav{ float:left; width:100%;}
.product_nav ul{ float:left; width:100%;}
.product_nav ul li a{ float:left; width:24%; padding:5px 0px; background:#F88600; line-height:22px;}


.product_cont{ float:left; width:100%; margin:10px 0px; font-size:12px;}

.product_cont h1{ text-align:center; padding:5px 0px; background:#F88600; line-height:22px; color:#fff; margin:10px 0px;}

.pricing{float:left; width:31%; box-shadow:0 5px 5px 0px #eee; margin:20px 12px;}
.pricing:hover thead tr td{ background:#ED1C24;}
.pricing thead tr td{padding:10px 0; background:#656565; text-align:center; color:#fff; font-size:16px; border-radius:5px 5px 0 0; text-transform:uppercase; font-weight:bold;}
.pricing tbody tr{border:1px solid #ddd;}
.pricing tbody tr td{padding:10px 5px; text-align:center; color:#000; font-size:14px;}
.pricing tbody tr td a{color:#1F5FAC;}
.pricing tbody tr td a:hover{ text-decoration:underline; color:#000;}
.text-center{ text-align:center;}
.col-md-4 {
    float: left;
    width: 33.33%;
    text-align: center;
}
.col-md-4 h2 {
    text-transform: capitalize;
    font-size: 20px;
}
.about_tab img{ width:100%; height:400px;}
/*
     FILE ARCHIVED ON 00:07:25 Mar 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:28:36 Jan 01, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/