.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; height:530px;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 500px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0; display:none;}
.flex-direction-nav a {width: 60px; height: 60px; margin: -20px 0 0; display: block; position: absolute; top: 50%; z-index:1; cursor: pointer; text-indent: -9999px; opacity:.5; -webkit-transition: all .3s ease;-moz-transition:.3s ease-in-out; -o-transition:.3s ease-in-out; -ms-transition:.3s ease-in-out;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -60px;  background: url(/web/20160314211743im_/http://indotrade.co.in/images/next.png) no-repeat 0 0;}
.flex-direction-nav .flex-prev { background: url(/web/20160314211743im_/http://indotrade.co.in/images/prev.png) no-repeat 0 0; left: -60px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 15px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 15px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width:100%; position:absolute; bottom:5px; text-align: center; z-index:10;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs { background:#E8EEF2; height:120px; text-align:center; margin: 0px 0 0; position: static;}
.flex-control-thumbs li {width:200px; margin:10px; height:100px;}
.flex-control-thumbs img {width: 100%; display:block; height:100px; opacity: .7; cursor: pointer; }
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
.flex-caption {
    position: absolute;
    top:500px; left:100px;
    max-width: 920px;
    padding: 10px 20px;
    margin:0;
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    text-align: left;
}
.flex-caption h1{ display:inline-block; background:#F53600; padding:20px 20px; font-weight:500; text-transform:uppercase;}
.flex-caption h3{ padding:20px 20px; font-weight:400; text-transform:uppercase; text-indent:20px}
.flex-caption p{ display:inline-block; background:#fff; padding:10px 20px; color:#F53600; margin:5px 0 0 0; text-transform:uppercase; font-size:17px}

/*
     FILE ARCHIVED ON 21:17:43 Mar 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:28:37 Jan 01, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/